@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CascadingValue Value="BikeInfo" Name="Bike" IsFixed="true">
    <Bicycle></Bicycle>
</CascadingValue>

@code {
    public BikeInfo BikeInfo { get; set; } = new BikeInfo("Yamaha", "Abc");
}