@page "/employee/{id:int}/{name?}"

<h3>EmployeeDetails</h3>

<p>Employee Id: @Id</p>

@if (!string.IsNullOrEmpty(Name))
{
    <p>Employee Name: @Name</p>
}

@code {
    [Parameter]
    public required int Id { get; set; }

    [Parameter]
    public string? Name { get; set; }
}
