<div>@Message</div>

@code {
    [Parameter]
    public required string Name { get; set; }
    public required string Message { get; set; }

    protected override void OnInitialized()
    {
        Message = $"Hello, {Name}";
    }
}
