@page
@model RouteTemplates.Pages.NewsModel
@{
}

<h1>News</h1>

<ul>
    <li><a href="/article/1">Article One</a></li>
    <li><a href="/article/2">Article Two</a></li>
    <li><a href="/article/3">Article Three</a></li>
</ul>
