<div>@Name</div>

@code {
    [Parameter, EditorRequired]
    public required string FirstName { get; set; }

    [Parameter, EditorRequired]
    public required string LastName { get; set; }

    public string Name { get { return $"{FirstName} {LastName}"; }}
}
