@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<button class="btn btn-primary" @onclick="SendMessage">Send Message</button>
<button class="btn btn-secondary" @onclick="CalculateAge">Calculate Age</button>
Age: @Age

@code {
    public int Age { get; set; }

    public async Task SendMessage()
    {
        await JS.InvokeVoidAsync("showMessage", new object[] { "Executing JS!" });
    }

    public async Task CalculateAge()
    {
        Age = await JS.InvokeAsync<int>("calculateAge", new object[] { "1998" });
    }
}