@page "/counter"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increase Counter</button>
<button class="btn btn-secondary" @onclick="NavigateToWeather">See Weather</button>

@code {
    private int currentCount = 0;

    [SupplyParameterFromQuery]
    public int Count { get; set; }

    protected override void OnParametersSet()
    {
        currentCount = Count;
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void NavigateToWeather()
    {
        NavigationManager.NavigateTo("/weather");
    }
}
