@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>People</h1>

<ul>
@foreach (var person in Persons)
{
    <li>@person.FirstName @person.LastName</li>
}
</ul>

@code {
    public List<Person> Persons { get; set; } = new List<Person> {
        new Person("Nitish", "Reddy"),
        new Person("Tim", "Southee"),
        new Person("Virat", "Kohli"),
        new Person("Sachin", "Tendulkar")
    };

    public record Person(string FirstName, string LastName);
}
