<div style="background-color: lightblue">
    <p style="padding: 20px">
        Learn more about .NET development on
        <a href="https://pluralsight.com">website</a>
        or on <a href="https://youtube.com">Youtube</a>
    </p>
</div>
