@page "/"
@using BlazorDependencyInjection.Services
@* @inject IGreetingService GreetingService *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@GreetingService.GetGreeting()

@code {
    [Inject]
    public required IGreetingService GreetingService { get; set; }
}